.editor {
    flex: 1;

    &-canvas {
        height: 100%;
        width: 100%;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAAXNSR0IArs4c6QAAAEJJREFUKBVjYBiG4OPHj54fPnx4DMIgNroXGdEFQAqBYjJQ8ScCAgKyyGqYkDnEsDE0MDIypgE1PgFhKJsYc4aUGgAWxxU+bjME1gAAAABJRU5ErkJggg==)
    }
}